[submodule "enterprise"]
	path = enterprise
	url = git@github.com:odoo/enterprise.git
	branch = 17.0
[submodule "odoo"]
	path = odoo
	url = git@github.com:odoo/odoo.git
	branch = 17.0
[submodule "themes"]
	path = themes
	url = git@github.com:odoo/design-themes.git
	branch = 17.0
[submodule "addons/server_tools"]
	path = addons/server_tools
	url = git@github.com:Mint-System/Odoo-Apps-Server-Tools.git
	branch = 17.0
[submodule "addons/project"]
	path = addons/project
	url = git@github.com:Mint-System/Odoo-Apps-Project.git
	branch = 17.0
[submodule "addons/odoo_apps_thirdparty"]
	path = addons/odoo_apps_thirdparty
	url = git@gitlab.com:mint-system/odoo-apps-thirdparty.git
	branch = 17.0
[submodule "oca/e-commerce"]
	path = oca/e-commerce
	url = git@github.com:OCA/e-commerce.git
	branch = 16.0
